
@{
    ViewBag.Title = "AdminCharts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #container {
        height: 400px;
    }

    .highcharts-figure, .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }

    #sliders td input[type=range] {
        display: inline;
    }

    #sliders td {
        padding-right: 1em;
        white-space: nowrap;
    }
</style>

<!-- Page Content -->

<div class="single-services">
    <div class="container">
        <div class="row" id="tabs">
            <div class="col-md-4">
                <ul>
                    <li><a href='#tabs-1'>MasterCard <i class="fa fa-angle-right"></i></a></li>
                    <li><a href='#tabs-2'>Visa <i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <section class='tabs-content'>
                    <article id='tabs-1'>
                            <figure class="highcharts-figure">
                                <div id="container"></div>
                                <p class="highcharts-description">
                                    Chart designed to highlight 3D column chart rendering options.
                                    Move the sliders below to change the basic 3D settings for the chart.
                                    3D column charts are generally harder to read than 2D charts, but provide
                                    an interesting visual effect.
                                </p>
                                <div id="sliders">
                                    <table>
                                        <tr>
                                            <td><label for="alpha">Alpha Angle</label></td>
                                            <td><input id="alpha" type="range" min="0" max="45" value="15" /> <span id="alpha-value" class="value"></span></td>
                                        </tr>
                                        <tr>
                                            <td><label for="beta">Beta Angle</label></td>
                                            <td><input id="beta" type="range" min="-45" max="45" value="15" /> <span id="beta-value" class="value"></span></td>
                                        </tr>
                                        <tr>
                                            <td><label for="depth">Depth</label></td>
                                            <td><input id="depth" type="range" min="20" max="100" value="50" /> <span id="depth-value" class="value"></span></td>
                                        </tr>
                                    </table>
                                </div>
                            </figure>


<script type="text/javascript">// Set up the chart
const chart = new Highcharts.Chart({
    chart: {
        renderTo: 'container',
        type: 'column',
        options3d: {
            enabled: true,
            alpha: 15,
            beta: 15,
            depth: 50,
            viewDistance: 25
        }
    },
    title: {
        text: 'Chart rotation demo'
    },
    subtitle: {
        text: 'Test options by dragging the sliders below'
    },
    plotOptions: {
        column: {
            depth: 25
        }
    },
    series: [{
        data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
    }]
});

function showValues() {
    document.getElementById('alpha-value').innerHTML = chart.options.chart.options3d.alpha;
    document.getElementById('beta-value').innerHTML = chart.options.chart.options3d.beta;
    document.getElementById('depth-value').innerHTML = chart.options.chart.options3d.depth;
}

// Activate the sliders
document.querySelectorAll('#sliders input').forEach(input => input.addEventListener('input', e => {
    chart.options.chart.options3d[e.target.id] = parseFloat(e.target.value);
    showValues();
    chart.redraw(false);
}));

showValues();</script>


                    </article>
                    <article id='tabs-2'>
                        <div class="col-md-12">
                            <div class="section-heading">
                                <h2>Solicitar tarjeta<em> Visa</em></h2>
                                <span>Llena los datos para solicitar una nueva tarjeta</span>
                            </div>
                        </div>
                        <div class="callback-form" style="margin-top: 0px;">
                            <div class="col-md-12">
                                <div class="contact-form">
                                    <form id="contact" action="" method="post">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <fieldset>
                                                    <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <fieldset>
                                                    <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <fieldset>
                                                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button type="submit" id="form-submit" class="border-button">Send Message</button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <h4>Beneficios Visa</h4>
                        <p>
                            ¿Qué es la tarjeta Visa Infinite?
                            La tarjeta Visa Infinite te brinda gama de beneficios creados para personas como tú.
                            <br><br>Desde un asistente personal las 24 horas, a la cobertura de seguros más amplia para tus compras y viajes.
                        </p>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>


<div class="testimonials" style="background-color: #373636;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2 style="color: #ffffff;">Registros de <em>Tarjetas Personales</em></h2>
                    <span style="color: #ffffff;">Tarjetas Mastercard Registradas</span> <!-- Esto deberia de cambiar (Visa-Mastercard) -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-testimonials owl-carousel">
                    <div class="testimonial-item">
                        <!-- se debe de crear un objeto por consulta -->
                        <div class="inner-content">
                            <h4>Deberia de mostrar el tipo</h4>
                            <span>Datos de consulta de tarjeta</span>
                            <img style=" max-width: 210px; border-radius: 10%;" src="~/Content/Images/VisaMastercard.png" alt="">
                        </div>
                        <img src="~/Content/Images/PandaUser.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script language="text/Javascript">

      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
</script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
