@model CreditPand.BD.Modelo.Tarjeta

@{
    ViewBag.Title = "ConsultCards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        $('#bttnSearch').click(function () {
            var tarAct = $('#txtactive').attr('value');
            var tarMar = $('#txtMarca').attr('value');
            var tarAct = $('#txtLimit').attr('value');
            $.ajax({
                type: "post",
                url: "/Tarjeta/TarjetaGrid",
                data: { studentName: $('#txtName').attr('value') },
                 { studentName: $('#txtName').attr('value') },
                { studentName: $('#txtName').attr('value') },

                datatype: "json",
                traditional: true,
                success: function (data) {
                    // debugger
                    if (data == "No Record Found") {
                        alert('No Record Found');
                    }
                    else {
                        $('#gridContent').html(data);
                        $('#txtactive').val(tarAct);
                        $('#txtMarca').val(tarMar);
                        $('#txtLimit').val(tarLimit);
                    }
                }
            });
        });
    });
</script>



<div id="grid">
    <table width="100%">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            Activación <input type="date" id="txtactive" />
                        </td>
                        <td>
                            Marca <input type="text" id="txtMarca" />
                        </td>
                        <td>
                            Límite <input type="text" id="txtLimit" />
                        </td>
                        <td>
                            <input type="button" id="bttnSearch" value="Search" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>

                @{
                    var webGrid = new WebGrid(source: Model, canPage: true, rowsPerPage: 5,
                    selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
                    webGrid.Pager(WebGridPagerModes.All);}


                @webGrid.GetHtml(tableStyle: "table table-bordered table-stripe",
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: webGrid.Columns(
                   webGrid.Column(columnName: "Id", header: "ID"),
                   webGrid.Column(columnName: "Marca", header: "Marca"),
                   webGrid.Column(columnName: "Límite", header: "Límite"),
                   webGrid.Column(columnName: "Monto_extra", header: "Extrafinanciamiento"),
                   webGrid.Column(columnName: "Fecha_activación", header: "Fecha"),
                   webGrid.Column(columnName: "Internacional", header: "Internacional")


                ))
                
            </td>
        </tr>
    </table>
</div>

<!--https://www.c-sharpcorner.com/UploadFile/sourabh_mishra1/webgrid-in-Asp-Net-mvc/-->