@model IEnumerable<CreditPand.BD.Modelo.Tarjeta>

@{
    ViewBag.Title = "TarjetaGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

@Scripts.Render("~/bundles/jquery")

<!--<script type="text/javascript">

    $(document).ready(function () {
        $('#bttnSearch').click(function () {
            var tarAct = $('#txtactive').attr('value');
            $.ajax({
                type: "post",
                url: "/Tarjeta/TarjetaGrid",
                data: { Fecha: $('#txtactive').attr('value') },

                datatype: "json",
                traditional: true,
                success: function (data) {
                    // debugger
                    if (data == "No Record Found") {
                        alert('No Record Found');
                    }
                    else {
                        $('#gridContent').html(data);
                        $('#txtactive').val(tarAct);
                    }
                }
            });
        });
    });
</script>-->

<script type="text/javascript">

    $(document).ready(function () {
        $('#bttnSearch').click(function () {
            var tarMar = $('#txtMarca').attr('value');
            $.ajax({
                type: "post",
                url: "/Tarjeta/TarjetaGrid",
                data: { Marca: $('#txtMarca').attr('value') },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    // debugger
                    if (data == "Sin Resultados") {
                        alert('Sin Resultados');
                    }
                    else {
                        $('#gridContent').html(data);
                        $('#txtMarca').val(tarMar);
                    }
                }
            });
        });
    });
</script>


<!--<script type="text/javascript">

    $(document).ready(function () {
        $('#bttnSearch').click(function () {
            var tarLimit = $('#txtLimit').attr('value');
            $.ajax({
                type: "post",
                url: "/Tarjeta/TarjetaGrid",
                data: { Limite: $('#txtLimit').attr('value') },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    // debugger
                    if (data == "No Record Found") {
                        alert('No Record Found');
                    }
                    else {
                        $('#gridContent').html(data);
                        $('#txtLimit').val(tarLimit);
                    }
                }
            });
        });
    });
</script>-->



<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Consulta de Tarjetas Personales</h1>
                <span>Listado de Tarjetas Personales</span>
            </div>
        </div>
    </div>
</div>


<div class="single-services">
    <div class="container">
        <div class="col-md-12">
            <div class="section-heading">
                <h2>Listado de <em>tarjeta</em></h2>
                <span>Lista de tarjetas activas personales</span>
            </div>
        </div>

        <div id="grid">
            <table width="100%" class="table-responsive">
                <tr>
                    <td>
                        <table class="">
                            <tr>
                                <td>
                                    Activación <input type="date" id="txtactive" />
                                </td>
                                <td>
                                    Marca <input type="text" id="txtMarca" />
                                </td>
                                <td>
                                    Límite <input type="text" id="txtLimit" />
                                </td>
                                <td>
                                    <input type="button" id="bttnSearch" value="Buscar" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>

                        @{
                            var webGrid = new WebGrid(source: Model, canPage: true, rowsPerPage: 5,
                            selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
                            webGrid.Pager(WebGridPagerModes.All);}


                        @webGrid.GetHtml(tableStyle: "table table-bordered table-stripe",
                        alternatingRowStyle: "alt",
                        selectedRowStyle: "select",
                        columns: webGrid.Columns(
                           webGrid.Column(columnName: "Id", header: "ID"),
                           webGrid.Column(columnName: "Marca", header: "Marca"),
                           webGrid.Column(columnName: "Límite", header: "Límite"),
                           webGrid.Column(columnName: "Monto_extra", header: "Extrafinanciamiento"),
                           webGrid.Column(columnName: "Fecha_activación", header: "Fecha"),
                           webGrid.Column(columnName: "Internacional", header: "Internacional")


                        ))

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!--https://www.c-sharpcorner.com/UploadFile/sourabh_mishra1/webgrid-in-Asp-Net-mvc/-->